.footer {
  padding: 1rem 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .up-footer ul li {
  margin: 0.5rem 0;
}
.footer .up-footer ul li:hover {
  text-decoration: underline;
  color: black;
}

.down-footer p {
  margin: 0;
}

.down-footer .social-icons {
  margin-top: 0.5rem;
}

.down-footer .social-icons a {
  margin: 0 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
}